.App {
  text-align: center;
 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
input{
  margin:5px;
}
button{
 margin:2px;;
}
.info-styles{
  padding:10px;
  width:30%;
  font-size:20px;
  margin: 0 auto;
margin-top:60px;
color:rgba(255, 255, 255, 0.945);
background:rgba(197, 26, 26, 0.74);
  border:1px solid black
}
/* .labels-styles{
  widows: 50%;
  margin:0 auto;
}
a{
  margin-right: 30px;
} */
.BlackHeart{
  border:.5px solid black;
  width:50%;
  font-size: 25px;
  background:wheat;
  margin: 0 auto;
  margin-top: 50px;
  padding:10px

}
/* ..................................................................ITEMS CSS */
.Items{
  width: 70%;
  display:flex;
  padding: 10px;
  margin: 0 auto;
  margin-top:10px;
  justify-content: center;
  flex-wrap:wrap;
  
}
.bigItemHeader-styles{
  border-bottom:1px solid black;
  width:70%;
  justify-content: center;
  margin: 0 auto;
  font-size:30px;
  margin-top:20px;
}
.itemCard-styles{
  width:23%;
  min-width:300px;
  font-size: 13px;
  border:.5px solid black;
  padding:7px;
  background:gray;
  color:white;
margin:10px

}
.itemsHeader-styles{
  font-size:16px;
  display:flex;
  justify-content: center

  /* border-bottom: .5px solid black; */
}
.delete-styles{
  color:lightgreen;
  font-size:20px;
}
.move-styles{
  display:flex;
  font-size:15px;
  padding-right:10px;
}
.add-styles{
  width:80%;
  display:flex;
  justify-content: start;
  color:lightgreen;
  padding-left:4px;

}
.drop-styles{
  display:flex;
  justify-content: flex-end;

  width: 20%;
color:lightcoral;


}
/* /////////////////////////////////////////////// BATTLE COMPONENT */
.class-styles{
  border-top:1px solid black;
  width: 50%;
  margin: 0 auto;
  padding-top:20px;
}
.classIcon-styles{
  width:40px;
  
  border-radius: 1000px;
  border:1px solid cadetblue;
}
.common{
  margin-top:30px;
  border:10px ridge lightgrey;
  width:15%;
  max-height:300px;
}
.uncommon{
  margin-top:30px;
  border:10px ridge green;
  width:10%;
}
.rare{
  margin-top:30px;
  border:10px ridge rgb(94, 94, 156);
  width:20%;
}
.Paladin{
margin-top:10px;
  width:200px;
  height:auto;
  border:10px ridge goldenrod;
}
.commonStats-styles{
  border-radius: 7px;
  width:28%;
margin: 0 auto;
background:lightslategrey;
border:1px groove black;
color:white;
padding:20px;
font-size:15px;
}
.uncommonStats-styles{
  border-radius: 7px;
  width:29%;
margin: 0 auto;
background:lightgreen;
border:1px groove black;
color:black;
padding:20px;
font-size:15px;
}
.rareStats-styles{
  border-radius: 7px;
  width:20%;
margin: 0 auto;
background:rgb(112, 122, 216);
border:1px groove black;
color:black;
padding:20px;
font-size:15px;

}
.battleheader-styles{
  font-size:20px;
}
.commonRarity-styles{
width:100px;
border-bottom: 3px solid lightgray;
color: lightgray;
}
.uncommonRarity-styles{
  width:100px;
  border-bottom: 3px solid rgb(48, 146, 48);
  color:  rgb(48, 146, 48);
  }
  .rareRarity-styles{
    width:100px;
  border-bottom: 3px solid rgb(66, 66, 255)z;
  color:  rgb(66, 66, 255);
    }

.middleBattle-styles{
  display:flex;
  padding:20px;
  height:300px;

}
.attack-styles{
  width:9%;
  height: 9%;
}
.opponentAttacks-styles{
font-size: 15px;
}
.attackName-styles{
 font-weight:bold;
  font-size:25px;
  padding-bottom:10px;
  border-bottom: 1px solid white;
}
.pathicon{
  width:400px;
}
.centerSpell-styles{
display:flex;
justify-content: space-between;

}
.combatLog-styles{
 font-size:25px;
 display:flex;
 flex-direction: column;


}
.winnings-styles{
border: 1px solid black;
background:lightgreen;
width:30%;
margin: 0 auto;
margin-top: 10px;
font-size:20px;
padding:1%;
}
.losing-styles{
  border: 1px solid black;
  background:lightcoral;
  width:30%;
  color:whitesmoke;
  margin: 0 auto;
  margin-top: 10px;
  font-size:18px;
  padding:1%;
  }
  .leveled-styles{
   
      border: 1px solid black;
      background:lightgoldenrodyellow;
      width:30%;
      color:black;
      margin: 0 auto;
      margin-top: 10px;
      font-size:18px;
      padding:1%;
      
  }