.App {
  text-align: center;
  font-family:Arial;
  font-size:64.5%;
}
.loginbackground-styles{
  min-height:100vh;
  background-image: url("../src/dungeons/img/login.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.blackHeartBackground-styles{
  min-height:100vh;
  background-image: url("../src/dungeons/img/darkwood.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
input{
  margin:5px;
}
button{
 margin:2px;;
}

/* .labels-styles{
  widows: 50%;
  margin:0 auto;
}
a{
  margin-right: 30px;
} */
.BlackHeart{
  border-radius: 15px;
  border:.5px solid black;
  width:70%;
  font-size: 2.2vw;
  background:wheat;
  margin: 0 auto;
  margin-top: 50px;
  padding:10px;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.288);



}
.BlackHeart .fas{
  font-size:3.3vw

}
.BlackHeart .btn{
  width:50%;
  font-size:1.3vw

}
.BlackHeart .btn:hover{
 ;
 background:lightgreen; 
}
/*................................................................... Log in component */
.title-styles{
  font-size:4vw;
  color: lightblue;
  text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
  outline: #222;
letter-spacing: .4ch;
padding-bottom:1px;
border-bottom:1.5px solid wheat;
width:50%;
margin:0 auto;
margin-top:15vh;
}
.login-styles{

background: rgba(255, 255, 255, 0.5);
  width: 40%;
  margin: 0 auto;
border:1px solid lightblue;
 border-radius: .7vw .7vw 0px 0px;
margin-top:20vh;
}
.btn{
  background:lightblue;
  border-radius: 5px;
  border-style:none;
}
.btn:hover{
  background:wheat;
  border-radius: 5px;
}
.login-styles .btn{
  width:100%;
  font-size:1.2vw;
  
}
.btn-register{
  background:lightgreen;
}
/*.......................................................................... CREATE PLAYER */
.create-styles{
padding-bottom:5%;
  background:rgba(255, 255, 255, 0.603);
    width: 45%;
    margin: 0 auto;
  border:1px solid lightblue;
  border-radius: 15px 50px;
  margin-top:10vh;
  }
  .create-styles .btn{
    margin-top:2vh;
    width:30%;
  }

  .create-styles .btn-create{
    min-height: 5vh;
    font-size:1.4vw;
  width:50%;
  }
  .alert{
    width: 100%;
  }
  .create-styles .class-not-picked{
    background:rgba(149, 207, 221, 0.5)
  }
  .text-left{
    font-size:1.1vw
  }

/****************************************************************** INFO **********/
.info-styles{
  padding:10px;
  width:30%;
  font-size:1.5vw;
  margin: 0 auto;
margin-top:60px;
color:rgba(255, 255, 255, 0.945);
background:rgba(2, 120, 255, 0.801);
border-radius: 1vw 15vh;
  border:1px solid black
}
.lore{
  
width:80%;
margin:0 auto;

}
  /*.............................................................. DUNGRON LIST */
  .btnPick-styles{
    font-size:40px;
  }
  .sample {
    font-family: "TypoPRO Lora";

}
/* ..................................................................ITEMS CSS */
.Items{
  width: 70%;
  display:flex;
  padding: 10px;
  margin: 0 auto;
 
  justify-content: center;
  flex-wrap:wrap;
  background:rgba(0, 0, 0, 0.288)
  
  
}
.bigItemHeader-styles{
  border-bottom:1px solid black;
  width:70%;
  justify-content: center;
  margin: 0 auto;
  font-size:1.5vw;
  padding-top:20px;
  border-top:1px solid black;
  color:white;
    text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
  outline: #222;
  background:rgba(0, 0, 0, 0.288)
}
.commonitemCard-styles{
  width:23%;
  min-width:300px;
  font-size: 13px;
  border:.5px solid black;
  padding:7px;
  background:gray;
  color:white;
margin:10px;
box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.288);
border-radius:15px;

}
.uncommonitemCard-styles{
  width:23%;
  min-width:300px;
  font-size: 13px;
  border:.5px solid black;
  padding:7px;
  background:darkgreen;
  color: white;
margin:10px;
box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.288);
border-radius:15px;

}
.rareitemCard-styles{
  width:23%;
  min-width:300px;
  font-size: 13px;
  border:.5px solid black;
  padding:7px;
  background:rgb(65, 146, 173);
  color: white;
margin:10px;
box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.288);
border-radius:15px;

}
.epicitemCard-styles{
  width:23%;
  min-width:300px;
  font-size: 13px;
  border:.5px solid black;
  padding:7px;
  background:purple;
  color: white;
margin:10px;
box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.288);
border-radius:15px;

}
.legendaryitemCard-styles{
  width:23%;
  min-width:300px;
  font-size: 13px;
  border:.5px solid black;
  padding:7px;
  background:#113A5E;
  color: white;
margin:10px;
box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.288);
border-radius:15px;

}
.itemCard-styles{
 font-size:.9vw;
 min-width:9vw;
}

.itemCard-styles:hover{
  filter: brightness(150%)
}
.commonFooter-styles{
  font-size:25px;
  color:lightgrey
}
.uncommonFooter-styles{
  font-size:25px;
  color:lightgreen
}
.rareFooter-styles{
  font-size:25px;
  color:blue
}
.epicFooter-styles{
  font-size:25px;
  color:palevioletred;
}

.legendaryFooter-styles{
  font-size:25px;
  color:goldenrod;
}
.footer{
  font-size:2vw;
}
.header-card{
  border-bottom:2px dotted white;
}
.itemsHeader-styles{
  font-size:16px;
  display:flex;
  justify-content: center

  /* border-bottom: .5px solid black; */
}

.delete-styles{
  color:lightgreen;
  font-size:20px;
}
.move-styles{
  display:flex;
  font-size:15px;
  padding-right:10px;
}
.add-styles{
  width:80%;
  display:flex;
  justify-content: start;
  color:lightgreen;
  padding-left:4px;
  font-size:20px;

}
.drop-styles{
  display:flex;
  justify-content: flex-end;

  width: 20%;
color:lightcoral;


}
/* /////////////////////////////////////////////// BATTLE COMPONENT */
.fighters{
  margin:0px;
  justify-content: center;
}
.class-styles{
  color:white;
  font-size:1.2vw;
  border-top:1px solid black;
  width: 70%;
  margin: 0 auto;
  padding-top:20px;
  text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
  outline: #222;
  background:rgba(0, 0, 0, 0.288)
}
.classIcon-styles{
  width:40px;
  
  border-radius: 1000px;
  border:1px solid cadetblue;
}
.common{
  margin-top:5%;
  border:10px ridge lightgrey;
  width:100%;
  height: 100%;
  max-height:300px;
  
}
.uncommon{
  margin-top:5%;
  border:10px ridge green;
  width:100%;
  height: 100%;
  max-height: 400px;
}
.rare{
  margin-top:5%;
    border:10px ridge rgb(94, 94, 156);
    width:100%;
    height: 100%;
  max-height: 400px;
}
.epic{
  margin-top:5%;
  border:10px ridge purple;
  width:100%;
  height: 100%;
  max-height: 400px;
  
}
.boss{
  margin-top:10px;
  border:10px ridge #113A5E;
  width:20% ;
  max-height: 400px;
}
.Paladin{
margin-top:10px;
  width:10%;
  height:auto;
  border:10px ridge goldenrod;
  background:rgb(229, 229, 182);
 
}
.Warrior{
  margin-top:5%;
    width:10%;
    height:auto;
    background: #c0392b;
    border:10px ridge #c0392b;
  }
  .Mage{
    margin-top:5%;
    padding:5px;
      width:10vw;
      height:auto;
      border:10px ridge purple;
      background:cadetblue;
    }
    .Ranger{
      margin-top:5%;
        width:10%;
        height:auto;
        border:10px ridge darkgreen;
        background:rgb(148, 177, 98);
      }
      .Rogue{
        margin-top:10px;
          width:10%;
          height:auto;
          border:10px ridge lightskyblue;
        }
        .Necromancer{
          margin-top:10px;
            width:10%;
            height:auto;
            border:10px ridge darkmagenta;
          }
.commonStats-styles{
  border-radius: 7px;
  width:50%;
margin: 0 auto;
background:lightslategrey;
border:1px groove black;
color:white;
padding:20px;
font-size:15px;
}
.uncommonStats-styles{
  border-radius: 7px;
  width:50%;
margin: 0 auto;
background:lightgreen;
border:1px groove black;
color:black;
padding:20px;
font-size:15px;
}
.rareStats-styles{
  border-radius: 7px;
  width:30%;
margin: 0 auto;
background:rgb(112, 122, 216);
border:1px groove black;
color:black;
padding:20px;
font-size:15px;


}
.epicStats-styles{
  border-radius: 7px;
  width:50%;
margin: 0 auto;
background:rgb(94, 21, 94);
border:1px groove black;
color:white;
padding:20px;
font-size:15px;


}
.bossStats-styles{
  border-radius: 7px;
  width:30%;
margin: 0 auto;
background:#113A5E;
border:1px groove black;
color:white;
padding:20px;
font-size:15px;

}
.fighters .stats{
  border-radius: 7px;
  width:80%;
  height: 30%;
margin: 0 auto;

padding:20px;
font-size:15px;
border-radius: 100vw 10vw 10vw 10vw;
margin-bottom:2vh;
font-size:1.3vw;


}
.battleheader-styles{
  font-size:20px;
}
.commonRarity-styles{
  width:90px;
  display: inline-block;
border-bottom: 3px solid lightgray;
color: lightgray;
}
.uncommonRarity-styles{
  box-sizing:border-box;
  width:90px;
  display: inline-block;
  border-bottom: 3px solid rgb(48, 146, 48);
  color:  rgb(48, 146, 48);
  }
  .rareRarity-styles{
    width:90px;
    display: inline-block;
  border-bottom: 3px solid rgb(66, 66, 255);
  color:  rgb(66, 66, 255);
    }

    .epicRarity-styles{
      font-size:30px;
    border-bottom: 3px solid plum;
    color:  plum;
    width:90px;
    display: inline-block;
      }
.bossRarity-styles{
  font-size:35px;
  border-bottom: 1px solid goldenrod;
  color:  goldenrod;
  width:90px;
  display: inline-block;

    }
.progress-container{
  padding-left:1%;
  padding-right:1%;
}
.top-progress{
  border:none;
  display:flex;
  flex-direction: column;
  background:lightcoral;
  height: 6vh;
  border-radius: 20% 20% 0% 0%;
}
.top-progress p{
  
  height: 20%;
 
}
.bottom-progress{
  border:none;
  display:flex;
  flex-direction: column;
  background:lightblue;
  height: 8vh;
  border-radius: 0% 0% 20% 20%;
}
.bottom-progress p{
  
  height: 20%;
 
}


    .progress{
      width:100%;
      min-height: 2.2vh;
      margin: 0 auto
    }




.middleBattle-styles{
justify-content: center;
width:100vw;
margin-top:1vh;
}
.mid-battle{
min-width: 100%;
min-height:40vh;
max-height: 40vh;
font-size:1vw;
}


.spell{
  color: white;
  font-size:1.2vw;
 
  border-radius: 20vw 1vw;
}
.Mage-spell{
 background:rebeccapurple;

}
.Warrior-spell{
  background:#c0392b;
 
 }
 .Ranger-spell{
  background:darkgreen;
 
 }
.damage{
  color: white;
  font-size:1.2vw;
  background:coral;
  border-radius: 1vw 20vw;
}
.cost{
  color: white;
  font-size:1.2vw;
  background:#17a2b8;
  border-radius: 20vw 1vw;
}
.attack-styles{
  width:9%;
  height: 9%;
  margin:1.5%;
}
.attack-styles:hover{
cursor: pointer;
}
.fa-long-arrow-alt-right:hover{
  cursor: pointer;
}
.fa-long-arrow-alt-left:hover{
  cursor: pointer;
  }
  .oppenent-styles{
    margin:0 auto;
    width:20vw;
   
  }



.opponentAttacks-styles{

font-size: 15px;
}
.monster-img{
  max-height: 30.8vh;
}
.attackName-styles{
 font-weight:bold;
  font-size:25px;
  padding-bottom:10px;
  border-bottom: 1px solid white;
}
.pathicon{
  width:400px;
}
.centerSpell-styles{
display:flex;
justify-content: space-between;

}
.combatLog-styles{
 font-size:1.2vw;
 display:flex;
 flex-direction: column;
min-height: 22.4vh;
align-content: center;
justify-content: center;
}
.winnings-styles{
border: 1px solid black;
background:lightgreen;
width:30%;
margin: 0 auto;
margin-top: 10px;
font-size:20px;
padding:1%;
box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.288);
border-radius:15px;

}
.losing-styles{
  border: 1px solid black;
  background:lightcoral;
  width:30%;
  color:whitesmoke;
  margin: 0 auto;
  margin-top: 10px;
  font-size:18px;
  padding:1%;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.288);
border-radius:15px;
  }
  .leveled-styles{
   
      border: 1px solid black;
      background:lightgoldenrodyellow;
      width:30%;
      color:black;
      margin: 0 auto;
      margin-top: 10px;
      font-size:18px;
      padding:1%;
      
  }
.westEast-styles{

width:300px;
display:flex;
justify-content: space-around;
margin:0 auto;
}
  .movmenticons-styles{
    color:lightblue;
    font-size:60px;

  }
  .movmenticons-styles:hover{
    color:lightgreen;

  }
  .adventurer-styles{
    margin:0 auto;
    width:14.9vw;  
  }
  .class-img{
    width:100%;
  }
 
  /*..................................................................... MAP */
  .mapBackground-styles{
    min-height:100vh;
    background-image: url("../src/dungeons/img/map1.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .mapwrap{
   width:100%;
   
   height:500px;
   padding-bottom:10%;

  }
  .ga-styles{
    width:25%;
    background:gray;
    min-height: 10%;
margin:0 auto;
  opacity:.5;
  }
  .wb-styles{
    width:25%;
    background:gray;
    min-height: 2%;
margin:0 auto;
opacity:.5;
  
  }
  .bb-styles{
    width:5%;
    background:gray;
    min-height: 12%;
margin:0 auto;
opacity:.5;
  
  }
  .ghTeir-styles{
    display:flex;
    flex-direction: row;
    width: 55.1%;
    height:20%;
  }
  .gh-styles{
    width:7%;
    background:gray;
   height: 50%;
margin:0 auto;
margin-top:10%;
/* opacity:.5; */
  
  }
  .nw-styles{
    
    width:6%;
    background:gray;
    height: 30%;
margin:0 auto;
margin-top:20%;
opacity:.5;
  
  }
  .ts-styles{
    width:10%;
    background:gray;
    height: 80%;
margin:0 auto;
margin-top:10%;
opacity: .5;
  
  }
  .stgr-styles{
    width:20%;
    background:gray;
   height: 100%;
margin:0 auto;

opacity:.5;
  
  }
  .startingrow{
    display:flex;
    flex-direction: row;
    width: 20%;
    margin-left:35.5%;
  }
  .sr-styles{
    width:30%;
    background:gray;
   height: 200px;
margin:0 auto;
opacity:.5;
  }
  .sw-styles{
    width:20%;
    background:gray;
   height: 100px;
margin:0 auto;
margin-right:20%;
opacity:.5;
  }
  .pf-styles{
    width:50%;
    background:gray;
   height: 6%;
margin:0 auto;
opacity:.5;
  
  }
  .activeRoom-styles{
    background:lightgreen;
opacity:1;
   
  }
  .dungeons-styles{
    font-size:50px;
  }
  .equipping-styles{
    font-size:60px;
    background:white;
    opacity: .6;
    width: 50%;
    margin:0 auto;
    letter-spacing: .2ch;
    margin-top: 20%;
    border-radius: 10px;
  }
  .equip-hero{
    font-size:1.5vw;
    width:70%;
  }
  .testing{
    font-weight: 900;
    color:red;
    width:50vw;
    margin:0 auto;
    font-size: 100px;
    border-bottom: 10px dotted darkred
  }